{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

	<div class="page-center">
		<h1>最新文章</h1>
	</div>

	{% for post in index %}
	<article class="post clearfix boder">
		<span class="post-title"><a href="{{ post.route }}.html"> {{ post.title }} </a></span><br />
		<span class="post-meta">
			<time datetime="{{ post.date }}" class="post-date">发布时间：</time> {{ TimeToStr(post.date) }} 
			&nbsp;&nbsp;&nbsp;&nbsp;分类：<a href="/category/{{ post.croute }}.html"> {{ post.cname }} </a>&nbsp;&nbsp;&nbsp;&nbsp;阅读数：{{ post.count }} 
		</span>
	</article>
	{% endfor %}

    {% if pages > 1 %}
		<div class="page-center">
		{% if curr_page != 1 %}
			<a href="{{ request.script_root }}/index/{{ curr_page-1 }}">&lt;&lt;&lt;</a>
		{% endif %}
		{% for page in range(1, pages + 1) %}
			{% if curr_page != page %}
				<a href="{{ request.script_root }}/index/{{ page }}">{{ page }}</a>
			{% else %}
				<span class="current">{{page}}</span>
			{% endif %}
		{% endfor %}
		{% if curr_page != pages %}
			<a href="{{ request.script_root }}/index/{{ curr_page+1 }}">&gt;&gt;&gt;</a>
		{% endif %}
		</div>
    {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
